/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.woocommerce-cart-form .container{
    position: fixed;
    height: 100%;
    width: 100%;
    left:0;
    top:0;
    z-index:1;
}
 .hide {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -o-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
}
  
.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 51px;
    height: 51px;
    font-size: 0;
    cursor: pointer;
}
  
.close:before, .close:after {
    content: '';
    position: absolute;
    background: #767676;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    left: 14px;
    right: 14px;
    top: 30px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
}
  
.close:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #FAFDFF;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* width: 600px; */
   /* width: 60%;*/
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09), 0px 11px 12px 7px rgba(0, 0, 0, 0.02);
    -moz-transition: all 120ms;
    -webkit-transition: all 120ms;
    -o-transition: all 120ms;
    transition: all 120ms;
    z-index: 99;
    padding: 25px;
    color: #5E5E5E;
    max-height: 80%;
    overflow:auto;
}

.woocommerce-cart-form .pick-pack-container{
    z-index:1000;
}

.logo-container{
    background: #1B4C46;
    padding: 10px;
}

.logo-container h3{
        text-align: center;
        color:#fff;
}
.pick-pack-logo{
    width:150px;
    display: block;
    margin: 0 auto;

}

.cancel-button{
    padding: 10px 15px;
    border: 1px solid #F5F5F5;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px #f5f5f5;
    color: #FC7C2B;
    cursor: pointer;
    transition: all 120ms ease-in;
    outline: none;
    /* margin: 20px 0 0 20px; */
    background-color: #D1DFCA;
    font-size: 18px;
    width:250px;
    color:#000;
    background-color: #FCFAEE;
}
  
@media screen and (max-width: 1000px) {
    .popup {
      width: 80%;
    }
}
  
.popup-header {
    text-transform: uppercase;
    font-size: 18px;
}
  
.popup-body {
    padding: 25px 0;
}

.pick_pack_button {
    padding: 10px 15px;
    border: 1px solid #F5F5F5;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px #F5F5F5;
    color: #000;
    cursor: pointer;
    transition: all 120ms ease-in;
    outline:none;
    /* margin: 20px 0 0 20px; */
    background-color: #FE7A2F;
    font-size: 18px;
    width:250px;
}

.footer-flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.pick_pack_button:hover {
    box-shadow: 1px 3px 5px #E9E9E9;
    transform: translateY(-1px);
}
  
.pick_pack_button:active, .pick_pack_button:visited {
    transform: translateY(1px);
    outline:none;
    box-shadow: 1px 2px 3px #F5F5F5;
}
  

.popup_flex {
    display: flex;
    flex-wrap: wrap;
    /*max-width: 500px;*/
}

.popup_col {
    width: 100%;
    margin: 0 auto;
}

.popup_col .cnt{
    padding: 0 20px;
}

.popup_col .cnt h3{
    padding-top: 10px;
}

.popup_col .cnt p{
    padding-top: 10px;
    font-size: 14px;
}

.overlay_pick_pack {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #0000008f;*/
    top: 0;
    left: 0;
}

.img_col{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup_col img{
    width: 100%;
    max-width: 100%;
}

.popup-body .popup_col .popup-footer h5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 14px
}

button.toggle.pick_pack_button.pick_pack_add {
    background-color: #FF782D;
}


@media screen and (max-width: 991px) {
    .popup_flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .popup_col{
        width: 100%;
    }
    .woocommerce img, .woocommerce-page img {
        max-width: 40% !important;
        width: 100%;
    }
    .img_col{
        /* text-align: center; */
        padding: 0 20px;
        height: 260px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .woocommerce img, .woocommerce-page img {
        max-width: 70% !important;
    }
    .img_col{
        height: 200px;
        width: 100%;
    }
    .popup {
        width: 90%;
        height: 60%;
        overflow: scroll;
    }
}

@media screen and (max-width: 400px) {
    .woocommerce img, .woocommerce-page img {
        max-width: 70% !important;
    }
    .pick_pack_button{
        margin: 10px 0 0 0 ;
    }
    .popup_col .cnt h3 {
        padding-top: 20px;
        font-size: 24px;
    }
    .woocommerce img, .woocommerce-page img {
        max-width: 100% !important;
    }
    
    .popup-footer h5 span{
        display: block;
        padding-top: 20px;
    }
    .img_col{
        height: 160px;
        width: 100%;
    }
}